.contenido{
    display: flex;
    margin: 0px;
    font-family: "Assistant", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    flex-direction: row;
    }
.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.texto h1{
    font-size: 3rem;
    font-family: "Playfai Display", serif;
    margin-left: 10px;
    margin: 0 0 0.25rem;
}
.texto p{
    margin-left: 20px;
    font-family: "Assistant", sans-serif;
}
.div-buttons{
    display: flex;
    justify-content: center;
    align-content: center;
}
.imagen{
    height: 91vh;
    width: 45vw;
    margin-block: 4vh;
}

.container-clock {
    text-align: center;
    ;
}

.container-clock h1 {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "cabin sketch";
}

.container-clock p {
    font-size: 1rem;
    font-family: "cabin sketch";
}