:root,[new-data-bs-theme="light"]{
    --bg-middle-1:#fefefe;
    --bg-middle-2:#fefefe;

    --text-top: black;
    --text-middle: black;
    --text-bottom:black;

    --fg: var(--clr-light);/*foreground = primer plano*/
    --bg: var(--crl-dark);
}


[new-data-bs-theme="dark"]{
    --clr-light:#CBE4DE;
    --crl-dark:#2C3333;
    --clr-primary:#2E4F4F;
    --clr-secondary:#0E8388;
    --clr-accent:#ff7750;
    --clr-accent2:pink;
    --noice: rgba(255, 193, 7, 1);

    --bg-top-bottom: var(--crl-dark);
    --bg-middle-1:#fefefe;
    --bg-middle-2:#fefefe;

    --text-top: white;
    --text-middle: white;
    --text-bottom:rgba(255, 193, 7, 1);
    --fg: var(--clr-light);/*foreground = primer plano*/
    --bg: var(--crl-dark);
}
.colors-top-bottom{
    background-color: var(--bg-top-bottom);
    transition: color 0.7s ease-in-out, background-color 0.2s ease-in-out;
}
.colors-middle{
    background: linear-gradient(125deg, var(--clr-primary) 25%, var(--clr-accent) 100%);
    color: var(--text-middle);
    transition: color 1s ease-in-out;
}
.color-text-bottom{
    color: var(--text-bottom);
    transition: color 0.7s ease-in-out, background-color 0.2s ease-in-out;
}


.contenido{
    display: flex;
    margin: 0px;
    font-family: "Assistant", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    flex-direction: row;
    }
.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.texto h1{
    font-size: 3rem;
    font-family: "Playfai Display", serif;
    margin-left: 10px;
    margin: 0 0 0.25rem;
}
.texto p{
    margin-left: 20px;
    font-family: "Assistant", sans-serif;
}
.div-buttons{
    display: flex;
    justify-content: center;
    align-content: center;
}
.imagen{
    height: 91vh;
    width: 45vw;
    margin-block: 4vh;
}

.container-clock {
    text-align: center;
    ;
}

.container-clock h1 {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "cabin sketch";
}

.container-clock p {
    font-size: 1rem;
    font-family: "cabin sketch";
}
